.contact-form-container {
  position: relative; 
  margin: 100px auto;
  padding: 2rem;
  border-radius: 8px;
  color: #fff; 
}

.contact-form-total-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.contact-title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 26px;
  color: #000000;
  position: relative; 
  font-weight: bold;
}

.success-message-container {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px); 
  text-align: center; 
  margin: 50px 0px;
}

.contact-success-message {
  color: #000000; 
  font-size: 30px;
  font-weight: bold; 
  margin-top: 20px;
  font-weight: 3rem;
}

/* Form Elements */
.contact-form {
  display: flex;
  flex-direction: column;
  position: relative; /* Position it above the pseudo-element */
  z-index: 1; /* Bring it above the background */
}

.contact-form-group {
  margin-bottom: 1.5rem;
}

.contact-label {
  font-size: 20px;
  margin-bottom: 0.5rem;
  display: block;
  color: #262525;
}

.contact-input,
.contact-textarea {
  width: 100%;
  padding: 0.7rem 3rem 0.7rem 0.8rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
}

.contact-input:focus,
.contact-textarea:focus {
  outline: none;
  border-color: #007bff;
}

.contact-textarea {
  resize: vertical;
  height: 120px;
}

/* Submit Button */
.contact-submit-btn {
  background-color: #0b1622;
  color: #fff;
  padding: 0.6rem 2rem;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  max-width: 150px;
  margin-left: 23%;
}

.contact-submit-btn:hover {
  background-color: #0056b3;
}
