
.weather-output-container {
    margin-left: 270px;
    margin-top: 0px;
    /* background-color: #1cb3d5; */
    background-color: #fffdfd;
    padding: 20px;
    border-radius: 10px;
    width: 950px;
    max-width: 100%; 
    display: flex;
    flex-direction: row;
    gap: 17px;
}

.weather-output {
    padding: 10px; 
    border-radius: 10px;
    color: #fff;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 10px; 
    width: 100%; 
}
.weather-output h6{
    color: black;
}

.weather-output img {
    width: 70%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.weather-output h3,
.weather-output p {
    color: #333;
}
.weather-output p{
    
}
