.Cities {
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}
.Cities h3{
  font-family:'Times New Roman', Times, serif;
  font-weight:500;
  font-size: 30px;
}
.city-search-input {
  width: 50%;
  max-width: 350px;
  padding: 10px 15px;
  font-size: 1rem;
  border: 2px solid #dbd5d5;
  border-radius: 10px;
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  margin-bottom: 20px;
  margin-top: 20px;
}

.city-search-input:focus {
  border-color: #989ca0; /* Blue border on focus */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.city-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px;
  margin-top: 20px;
}

/* Each city card styling */
.city-card {
  border: 1px solid #ccc;
  border-radius: 20px;
  overflow: hidden;
  width: 300px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.city-card:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.city-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* City name styling */
.city-card h2 {
  margin: 15px 0;
  font-size: 1rem;
  color: #333;
}

/* Responsive Design: Adjust for smaller screens */
@media (max-width: 768px) {
  .city-card {
    width: 100%; /* Full width on smaller screens */
  }

  .city-search-input {
    width: 70%; /* Reduce width of search bar on smaller screens */
  }
}

@media (max-width: 480px) {
  .city-container {
    flex-direction: column;
    align-items: center;
  }

  .city-card {
    width: 90%; /* Make the city card take most of the screen width */
  }

  .city-search-input {
    width: 90%; /* Full width on very small screens */
  }
}
