.famous-places {
  padding: 3rem 5%;
}
.form-image-container {
  position: relative; /* Necessary to make the navbar and form appear on top of the image */
  text-align: center;
}
/* .background-image{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
} */

.background-image {
  width: 100%;
  height: 900px;
  object-fit: cover; 
  display: block;
  position: relative;
  z-index: 1;
}

.form-overlay {
  position: absolute;
  top: 65%; 
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.8); 
  padding: 20px;
  border-radius: 10px;
  width: 300px; 
  z-index: 2;
}

.form-overlay h3 {
  position: absolute;
  top: -115px;  
  padding-left: 10%;
  color: rgb(31, 0, 0);
  font-size: 25px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  margin-bottom: 20px; /* Add this to increase the gap */
}

.form-overlay label {
  display: block;  
  margin-bottom: 10px;
  font-weight: bold;
}

.form-overlay input,
.form-overlay select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-overlay button {
  padding: 10px;
  background-color: #010911;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-overlay button:hover {
  background-color: #081729;
}
.famous-places-grid {
  display: flex;
  flex-direction: row;
  gap:50px ;
}
.famous-place-card{
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);  */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.famous-place-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.famous-places img{
  width: 300px;
  height: 220px; 
  margin-bottom: 15px;  
}
.home-ratings{
  margin-right: 15px;
}
.famous-places h3  {
  padding-left: 5px;
  font-weight: bolder;
  font-size: 30px;
  margin-bottom: 25px;
}

.famous-places h4  {
  padding-left:15px;
  font-size: 22px; 
  margin-bottom: 30px;

}

.home-packages h3  {
  margin-left: 20px;
  font-weight: bolder;
  font-size: 30px;
  margin-bottom: 30px;
}
.home-packages h3{
  margin-left: 5px;
}
.home-packages{
  margin-left: 80px;
  max-width: 350px; 
}
.home-packages-container {
transition: transform 0.3s ease, box-shadow 0.3s ease;
cursor: pointer;
margin-bottom: 30px;
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 75px;
flex-wrap: wrap;
}

.city-card:hover {
  transform: scale(1.05); 
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}
.home-package-img{
  height: 250px;
  width: 400px;
  margin-bottom: 20px;
  cursor:default !important;;

}
.home-package-card {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.home-package-card .home-package-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.home-package-city {
  margin-left: 15px;
  font-size: 21px;
}

.home-package-rate {
  margin-right: 10px;
  font-size: 21px;
}

.home-package-button{
  background-color: #ffd900;
  padding: 7px 30px; 
   border: none;
   border-radius: 0.3rem;
   margin-bottom: 20px;
   margin-left: 15px;
}
