/* Home.css */
.famous-places {
  padding: 5rem 5%;
}

/* Assuming this is your main container */
.form-image-container {
  position: relative; /* Ensures child elements with absolute positioning use this as a reference */
  text-align: center;
}

.background-image {
  width: 100%;
  height: 700px; /* or whatever size you need */
  display: block;
  object-fit: cover; 
  position: relative;
  z-index: 1; /* Ensure image is layered below the navbar */
}

.navbar {
  position: absolute; 
  top: 20px; 
  right: 20px; 
  padding: 10px 20px;
  border-radius: 8px;
  z-index: 3;
}


.form-overlay {
  position: absolute;
  top: 55%; 
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.8); 
  padding: 20px;
  border-radius: 10px;
  width: 300px; 
  z-index: 2; /* Ensure form is layered above the image */
}

.form-overlay h3 {
  position: absolute;
  top: -115px;  
  padding-left: 10%;
  color: rgb(31, 0, 0);
  font-size: 25px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  margin-bottom: 20px; /* Add this to increase the gap */
}

.form-overlay label {
  display: block;  
  margin-bottom: 10px;
  font-weight: bold;
}

.form-overlay input,
.form-overlay select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-overlay button {
  padding: 10px;
  background-color: #010911;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-overlay button:hover {
  background-color: #081729;
}


.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
  
.navbar ul li {
  margin-left: 20px; /* Space between the menu items */
}
  
.navbar ul li a {
  text-decoration: none;
  color: rgb(3, 3, 3); /* Change to white for better visibility */
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
  
.navbar ul li a:hover {
  background-color: #081729;
}
