.package-container-h3{
  text-align: center !important;
  margin-top: 100px;
  margin-bottom: 50px;
}
.packages-img{
  width: 400px;
  height: 300px;
}

.packages-images {
  
  display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:0rem;
}