/* Sidebar styling */
.sidebar {
  width: 250px;
  padding: 20px;
  margin-top: 80px;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

/* Sidebar list styling */
.sidebar-list {
  list-style-type: none;
  padding: 0;
}

.sidebar-lists {
  margin-bottom: 10px;
}

.sidebar h5 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
  color: rgb(69, 69, 122);
}

.sidebar-checkbox {
  margin-right: 10px;
  cursor: pointer;
}

.sidebar-lists label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Places layout */
.places-layout {
  display: flex;
  flex-direction: row;
}

.places-container {
  width: calc(100% - 250px);
  margin-left: 250px;
  padding: 20px;
}

.places-container h1 {
  font-weight: bolder;
  font-size: 33px;
  color:#081729 ;
  text-align: center;
 font-family: math;
   margin-top: 80px;
}

.places-search-input {
  width: 50%;
  max-width: 350px;
  padding: 10px 15px;
  font-size: 1rem;
  border: 2px solid #dbd5d5;
  border-radius: 10px;
  margin: 20px auto;
  display: block;
}

.places-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
  margin-top: 2rem;
}

.place-image {
  /* width: 400px;
  height: 300px; */
  width: 350px;
  height: 240px;
}

.place-card {
  cursor: pointer;
  max-width: 350px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.place-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -22px;
}
.place-infor{
  margin-left: 10px;
}
.place-name {
 color: #07D2D8;
  padding-left: 10px;
  margin-top: 20px;
}

.place-details {
  font-size: 1rem;
  padding: 10px;
  margin-bottom: 5px!important;
  color:#081729;
}

.place-ratings {
  padding-right: 12px;
}

.places {
  min-height: 155.4vh;
}