.tripplaces-container{
    margin-top: 90px;
}
.tripplaces-container h2{
    margin-bottom: 60px;
    text-align: center;
    color: blueviolet;
}
.tripplaces-container p{
    margin-top: 20px;
    margin-left: 50px;
}
.tripplaces-container span{
    color: blueviolet;
    font-size: 18px;
}
.tripplaces-img{
    width: 650px !important;
    height: 370px !important;
    margin-bottom: 20px;
}
.tripplaces-container {
    text-align: center;
    padding: 20px;
  }