.sidebar {
    width: 220px;
    padding: 20px;
    height: 100vh;
    position: fixed; 
    padding-left: 60px;
    overflow-y: auto; /* Enable scroll if the content overflows */
  }
  
  .sidebar-list {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar-item {
    margin-bottom: 20px;
    font-size: 18px;
}
  .sidebar-item input {
    margin-right: 10px;
    cursor: pointer;
  }
  .sidebar-list
{
  
}