.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 60px !important;
  background: transparent;
  z-index: 3;
}

.navbar-elements {
  display: flex;
  flex-direction: row !important;
  justify-content: space-around;
  gap: 2rem;
}

.navbar-content a {
  text-decoration: none; /* Apply directly to the anchor tag */
  color: rgb(10, 10, 10);
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  padding: 10px;
}

.navbar-content a:hover {
  background-color: #969da7;
  text-decoration: none; 
}
