.converter {
  width: 400px;
    padding: 30px 30px 1px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-bottom: 50px;
  }
  .currency-container{
    margin-top: -50px;
  }
  .converter h1 {
    text-align: center;
    color: #333;
    font-size: 30px;
    margin-bottom: 30px;
  }
  
  /* Input Section */
  .input-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .input-container label {
    font-weight: bold;
    color: #333;
    font-size: 14px;
  }
  
  .input-container input,
  .input-container select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .input-container input:focus,
  .input-container select:focus {
    border-color: #007bff;
  }
  
  /* Convert Button */
  .convert-btn {
    width: 50%;
    margin-left: 85px;
    padding: 12px;
    margin-top: 20px;
    background-color: #c99510;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .convert-btn:hover {
    background-color: #dfd43c;
  }
  
  .converter-text {
    margin-top: 20px !important;
    margin-bottom: px !important;
    text-align: center;
    color: #333 !important;
    font-size: 25px;
  }
  